.jumbotron {
    background-color: black;
    color: white;
    padding: 50px 0;
    margin-bottom: 10px;
}

nav {
    height: 35px;
    background-color: grey;
}

.text-primary {
    color: cyan;
}

section {
    padding-bottom: 30px;
}